<p id="notice"><%= notice %></p>

<table>
  <tbody>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th colspan="2">Action</th>
    </tr>
    <tr>
      <td><%= @question.id %></td>
      <td><%= @question.title %></td>
      <td><%= link_to 'Edit', edit_question_path(@question) %></td>
      <td><%= link_to 'Destroy', @question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  </tbody>
</table>

<%= link_to "Back", questions_path %>
