<p id="notice"><%= notice %></p>

<table class="table">
  <tbody>
    <tr class="info">
      <th>ID</th>
      <th>Title</th>
      <th colspan="2">Action</th>
    </tr>
    <tr>
      <td><%= @question.id %></td>
      <td><%= @question.title %></td>
      <td><%= link_to edit_question_path(@question) do %>
        <i class="glyphicon glyphicon-pencil"></i> Edit
        <% end %>      
      </td>
      <td><%= link_to @question, method: :delete, data: { confirm: 'Are you sure?' } do %>
        <i class="glyphicon glyphicon-trash"></i> Delete
        <% end %>      
      </td>
    </tr>
  </tbody>
</table>

<%= link_to "Back", questions_path, class: "btn-link" %>
